[Unit]
Description=Rumors service
After=network.target

[Service]
Type=simple
User=koks
Group=koks
LimitNOFILE=1024
Restart=on-failure
ExecStart=/usr/local/bin/rumors --dotenv=/etc/rumors.env -c /etc/rumors.yaml serve

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/rumors
ExecStartPre=/bin/chown syslog:adm /var/log/rumors
ExecStartPre=/bin/chmod 755 /var/log/rumors
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rumors

[Install]
WantedBy=multi-user.target